.App {
  background: #0f172a;
  height: 100%;
  width: 100%;
}

/* Projects css */

.grid {
  --gap: 8px;
  display: flex;
  margin-left: calc(var(--gap)* -1);
  width: auto;
  height: 100px;
  padding-right: 8px;
  padding-left: 4px;
}
.column {
  
  padding-left: var(--gap);
  background-clip: padding-box;
}