body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Personalización del scroll para navegadores Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #0f172a;
  /* Color de la pista del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0f172a;
  /* Color del pulgar del scrollbar */
  border-radius: 6px;
  /* Bordes redondeados para el pulgar */
}

/* Personalización del scroll para Firefox */
* {
  scrollbar-width: thin;
  /* Hacer el scrollbar más delgado */
  scrollbar-color: #6a7691 #0f172a;
  /* Color del pulgar y el track del scrollbar */
}


/* projects css and medria queries*/
@media (max-width: 842px) {

  /* Aquí van tus estilos específicos */
  .responsivephone {
    /* Ejemplo de estilo */
    margin-top: 65px;
  }

  .noneed {
    display: none;
  }
}

@media (max-width: 800px) {
  .floatbutton {
    position: absolute !important;
    top: 3.5vh !important;
    left: 130px;
    /* width: 100% !important; */
  }
  .noneed {
    display: none;
  }
}
@media (max-width: 735px) {
  .floatbutton {
    position: absolute !important;
    top: 3.5vh !important;
    left: 120px;
  }
  .noneed {
    display: none;
  }
}
@media (max-width: 650px) {
  .floatbutton {
    position: absolute !important;
    top: 3.5vh !important;
    left: 115px;
  }
  .noneed {
    display: none;
  }
}
@media (max-width: 502px) {
  .floatbutton {
    position: absolute !important;
    top: 3.5vh !important;
    left: 90px;
  }
  .noneed {
    display: none;
  }
}

@media (max-width: 650px) {
 .phonev{
  position: absolute !important;
  /* top: 3.5vh !important; */
  left: 20px !important;
 }
}